/* Importando a fonte 'Quicksand' do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* Definindo estilos para o elemento body */
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

body > *:not(footer) {
    flex: 1 0 auto; /* Ocupa todo o espaço disponível, exceto o necessário para o footer */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px; /* Ajuste o espaçamento conforme necessário */
    background-color: white;
    z-index: 1000; /* Garante que o header fique sobre outros elementos */
    border-bottom: 1px solid #e0e0e0; /* Adiciona uma linha de separação */
}

#logo {
    width: 50px; /* Ajuste o tamanho do logo conforme necessário */
    margin-right: 10px;
}

header h1 {
    font-size: 24px;
    color: black;
    margin: 0; /* Remove margens padrão */
}

.menu-title {
    font-weight: 600;
    font-size: 30px;
    margin: 100px 0 20px; /* Espaçamento superior e inferior */
    width: 100%; /* Largura total */
    text-align: center; /* Alinha o texto ao centro */
}

.menu-divider {
    border: 0;
    border-top: 1px solid #e0e0e0;
    margin: 20px 0; /* Espaçamento acima e abaixo */
}

.menu-divider-80 {
    width: 80%;
    margin: 0 auto; /* Centraliza a linha horizontal */
}

.menu-divider-100 {
    width: 100%;
}

main .content {
    display: flex;
    flex-direction: column; /* Organiza os itens em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    gap: 20px; /* Espaçamento entre os itens */
    padding: 20px; /* Espaçamento interno */
    margin-top: 20px; /* Espaçamento superior */
}

/* Estilos específicos para o botão de voltar */
.back-button {
    position: fixed;
    top: 80px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}

.back-button img {
    width: 20px;
    height: 20px;
}

.back-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

/* Novo botão verde de adicionar */
.add-button {
    position: fixed; /* Fixar o botão na tela */
    top: 80px; /* Distância do topo */
    right: 100px; /* Distância da direita ajustada para espaço do botão cancelar */
    padding: 8px 30px;
    background-color: #4F970F; /* Cor verde */
    color: white; /* Cor do texto */
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s;
    z-index: 1001; /* Garante que o botão fique sobre outros elementos */
}

.add-button:hover {
    background-color: #ffffff;
    color: #4F970F;
    border: 2px solid #4F970F;
}

/* Novo botão vermelho de cancelar */
.cancel-button-page {
    position: fixed; /* Fixar o botão na tela */
    top: 80px; /* Distância do topo */
    right: 20px; /* Distância da direita */
    padding: 10px 20px;
    background-color: #FF4C4C; /* Cor vermelha */
    color: white; /* Cor do texto */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 10px; /* Bordas arredondadas */
    transition: background-color 0.3s;
    z-index: 1001; /* Garante que o botão fique sobre outros elementos */
}

.cancel-button-page:hover {
    background-color: #ffffff;
    color: #FF4C4C;
    border: 2px solid #FF4C4C;
}

/* Estilos para os botões de ação */
.action-buttons {
    display: flex;
    flex-direction: column; /* Alinha os botões em coluna */
    gap: 5px; /* Espaçamento entre os botões */
    position: fixed; /* Fixar os botões na tela */
    top: 75px; /* Distância do topo */
    right: 20px; /* Distância da direita */
    z-index: 1001; /* Garante que os botões fiquem sobre outros elementos */
}

.action-buttons .cancel-button, .action-buttons .update-button, .action-buttons .other-button  {
    padding: 7px 25px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px; /* Bordas arredondadas */
    font-weight: 500;
    transition: background-color 0.3s;
}

.action-buttons .cancel-button {
    background-color: #FF2311; /* Cor vermelha */
    color: white; /* Cor do texto */
}

.action-buttons .cancel-button:hover {
    background-color: #ffffff;
    color: #FF4C4C;
    border: 2px solid #FF4C4C;
}

.action-buttons .update-button {
    background-color: #90C856; /* Cor verde claro */
    color: white; /* Cor do texto */
}

.action-buttons .update-button:hover {
    background-color: #ffffff;
    color: #A3D07B;
    border: 2px solid #A3D07B;
}

.action-buttons .other-button {
    background-color: #3C2215; /* Cor vermelha */
    color: white; /* Cor do texto */
}

.action-buttons .other-button:hover {
    background-color: #ffffff;
    color: #3C2215;
    border: 2px solid #3C2215;
}


/* Estilos para a lista de produtos */
.list {
    width: 100%;
    max-width: 600px;
    margin-top: 40px;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 5px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
}

.item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.item a.product-link {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove sublinhado */
    color: inherit; /* Mantém a cor do texto */
    flex-grow: 1;
}

.item span {
    text-align: left;
}

.delete-button {
    background-color: #FF4C4C; /* Cor vermelha */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #FF0000; /* Cor vermelha mais escura */
}

/* Estilos para o formulário de produtos */
.product-form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
}

.product-form label {
    font-weight: bold;
    text-align: left; /* Alinha o texto à esquerda */
}

.product-form input[type="text"],
.product-form input[type="number"],
.product-form input[type="date"],
.product-form select {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ECF3F5;
}

.product-form input[type="text"]#name,
.product-form input[type="number"]#quantity,
.product-form input[type="text"]#price,
.product-form input[type="text"]#address,
.product-form input[type="text"]#phone,
.product-form input[type="date"]#date {
    max-width: 580px; /* Define uma largura menor para esses campos */
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cancel-button {
    background-color: #FF4C4C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #FF0000; /* Cor vermelha mais escura */
}

.save-button {
    background-color: #4F970F;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #3d7b0d; /* Cor verde mais escura */
}

/* Estilos para a área de detalhes do produto */
.details {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
}


.details input {
    font-weight: 400;
    color: #89928E;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ECF3F5;
    pointer-events: none; /* Torna o campo não editável */
}

footer {
    width: 100%;
    padding: 5px 0;
    background: #BE1D2C;
    max-height: 180px;
    font-size: 13px;
    text-align: center;
}

.credits {
    margin-top: 0;
    font-size: 12px;
    margin-bottom: 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header h1 {
        font-size: 20px;
        margin-top: 10px;
    }

    .menu-title {
        font-size: 24px;
        margin: 120px 0 20px; /* Ajuste de margens para telas menores */
    }

    .custom-button, .add-button {
        width: 100%;
        max-width: 200px;
        margin: 10px 0; /* Espaçamento vertical entre botões */
    }
}

/* Estilos específicos para os botões na página principal */
.custom-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    width: 200px; /* Valor fixo ou percentual para a largura */
    background-color: #BC1F2B;
    border-radius: 10px;
    color: white;
    text-decoration: none; /* Remove sublinhado dos links */
}

.custom-button:hover {
    background-color: #ffffff;
    color: #BC1F2B;
    border: 2px solid #BC1F2B;
}

main .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px; /* Espaçamento uniforme entre os botões */
    padding: 20px; /* Espaçamento interno */
    margin-top: 20px; /* Espaçamento superior */
}


/* Estilos para o modal de aviso */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Fundo preto com opacidade */
    padding-top: 60px;
}

.modal-content {
    background-color: #FFFDF2;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* Largura máxima do modal */
    text-align: left;
    border-radius: 10px; /* Bordas arredondadas */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.delete-text {
    color: red;
    font-weight: 700;
}

#product-name {
    font-weight: 700;
}

#order-name {
    font-weight: 700;
}

#supplier-name {
    font-weight: 700;
}

#user-name {
    font-weight: 700;
}

.modal-content h2 {
    text-align: center;
    font-weight: 900;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.modal-buttons .cancel-button, .modal-buttons .confirm-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 10px; /* Bordas arredondadas */
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-buttons .cancel-button {
    background-color: #FF4C4C; /* Cor vermelha */
    color: white; /* Cor do texto */
}

.modal-buttons .cancel-button:hover {
    background-color: #ffffff;
    color: #FF4C4C;
    border: 2px solid #FF4C4C;
}

.modal-buttons .confirm-button {
    background-color: #4F970F; /* Cor verde */
    color: white; /* Cor do texto */
    border: 2px solid #4F970F;
}

.modal-buttons .confirm-button:hover {
    background-color: #ffffff;
    color: #4F970F; 
}